a {
  text-decoration: none;
  color: #d9d9d9;
}
a:hover, a:active {
  color: #3c5c71;
}

.fr, .fr-sa-c, .fr-sb-c {
  display: flex;
  flex-direction: row;
}
.fr-sb-c {
  justify-content: space-between;
  align-items: center;
}
.fr-sa-c {
  justify-content: space-around;
  align-items: center;
}

.fc, .fc-sa-c, .fc-sb-c {
  display: flex;
  flex-direction: column;
}
.fc-sb-c {
  justify-content: space-between;
  align-items: center;
}
.fc-sa-c {
  justify-content: space-around;
  align-items: center;
}

@keyframes player-round {
  45% {
    transform: translateY(2rem) rotate(90deg);
  }
  90% {
    transform: translateY(-2rem) rotate(90deg);
  }
}
@keyframes computer-round {
  45% {
    transform: translateY(2rem) rotate(-90deg) scaleX(-1);
  }
  90% {
    transform: translateY(-2rem) rotate(-90deg) scaleX(-1);
  }
}
@font-face {
  font-family: bodyfont;
  src: url(../fonts/Montserrat-Regular.otf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #353535;
  color: #d9d9d9;
  font-family: "bodyfont";
  height: 100vh;
  overflow-x: hidden;
}

.score {
  background-color: #284b63;
  padding: 2rem;
}
.score .player-score, .score .computer-score {
  height: 5rem;
}
.score .p-score, .score .c-score {
  font-size: 2rem;
}

.message-outcome {
  height: 2rem;
  margin-bottom: 1rem;
  background-color: #3c5c71;
}

.round-outcome {
  width: 60%;
  height: 6rem;
  margin: 5rem auto;
}
.round-outcome i {
  font-size: 4rem;
}
.round-outcome i.player {
  animation: 0.5s ease player-round 3;
  transform: rotate(90deg);
}
.round-outcome i.computer {
  animation: 0.5s ease computer-round 3;
  transform: rotate(-90deg) scaleX(-1);
}

.player-selection {
  width: 60%;
  margin: 5rem auto;
}
.player-selection button {
  padding: 1rem;
  width: 7rem;
  text-align: center;
  background-color: transparent;
  border: 2px solid #284b63;
  border-radius: 5px;
  color: #d9d9d9;
  cursor: pointer;
}
.player-selection button:hover {
  background-color: #284b63;
  border-color: #3c5c71;
}
.player-selection button:focus, .player-selection button:active {
  border-color: #3c5c71;
}

.modal-outer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
}
.modal-outer .modal-inner {
  width: 50%;
  height: 60%;
  background-color: black;
}

.fade-in {
  opacity: 1;
  transition: 0.5s ease;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;
}
